/* cart */

.section-header {
  display: flex;
  margin-top: 30px;
}

.section-header .title {
  width: 150px;
}

.section-header .icon {
  width: 15px;
  height: 30px;
  border-radius: 7px;
  background-color: #db4444;
  margin-right: 8px;
}

.section-header .title {
  height: 20px;
  color: #db4444;
  font-weight: 700;
}

.cart-content {
  display: flex;
}

.cart-item {
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  gap: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}
.cart-item .product img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  display: inline;
}

.product-name {
  font-weight: 600;
}

.product-price {
  color: #db4444;
  font-size: 30px;
}

.product-desc #product-cnt {
  width: 35px;
  height: 35px;
  border: transparent;
  background-color: #d9d9d9;
  border-radius: 6px;
  padding: 5px;
}

button {
  width: 200px;
  height: 50px;
  border: transparent;
  background-color: #db4444;
  color: white;
  border-radius: 15px;
  justify-self: center;
}

.checkout {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
