* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
:root {
  --mainWidth: 1467px;
}
.section {
  margin: 0 auto;
  width: 80vw;
}

.nav-active {
  border-bottom: 1px solid;
  height: 25px;
  border-color: #d9d9d9;
}

.header {
  width: 100%;
  justify-content: space-between;
  padding: 30px;
  background-color: white;
  align-items: center;
}
.navbar {
  display: flex;
  width: 80vw;
  margin: 0 auto;
}

.logo {
  width: 10rem;
  font-size: 15rem;
  font-weight: 900;
}

.logo p {
  font-size: 2rem;
  cursor: pointer;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.navbar-content ul {
  display: flex;
  gap: 3em;
}

.navbar-content ul li {
  cursor: pointer;
}

.navbar-content ul li:hover {
  color: #db4444;
}

.navbar-content i {
  cursor: pointer;
}

.tools {
  position: relative;
}

.tools i:hover {
  color: #db4444;
}

.navbar-content .tools input {
  background-color: #f5f5f5;
  border-radius: 3px;
  border-color: transparent;
  padding: 5px;
  padding-left: 9px;
  padding-right: 43px;
  font-size: 0.7rem;
  outline: none;
}

.last-icon {
  position: absolute;
  top: 5px;
  right: 69px;
  font-size: 15px;
}
/* billing */

.section-header {
  display: flex;
  margin-top: 30px;
}

.section-header .title {
  width: 150px;
}

.section-header .icon {
  width: 15px;
  height: 30px;
  border-radius: 7px;
  background-color: #db4444;
  margin-right: 8px;
}

.section-header .title {
  height: 20px;
  color: #db4444;
  font-weight: 700;
}
/* billing details */


.billing-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 15px;
}

.col1 input {
  width: 418px;
  height: 33px;
  background-color: #f5f5f5;
  border: 1px #d7d7d7 solid;
  border-radius: 6px;
  border-color: transparent;
}

.col1 label {
  font-size: 12px;
  font-weight: 700;
}

.product{
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 10px;
}
.product img{
  width: 50px;
  height: 50px;
}

.subtotal,.shipping,.total{
  display: flex;
  justify-content: space-between;
  border-bottom: black 1px solid;
  padding-bottom: 15px;
  margin-top: 15px;
}

.col2 > input{
  margin-top: 10px;
  margin-bottom: 10px;
}

.col2 .coupon{
  display: flex;
  justify-content: space-between;
}

.col2 .coupon input{
  background-color:#f5f5f5;
  padding: 5px;
  border: transparent;
  border-radius: 5px;
}

.col2 .coupon button{
  
}

/* footer */

.footer {
  height: 300px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  line-height: 2.4;
}

.footer h3 {
  font-size: 30px;
}

.footer p {
  font-size: 15px;
}
