@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
:root {
  --mainWidth: 1467px;
}
.section {
  margin: 0 auto;
  width: 80vw;
}

.nav-active {
  border-bottom: 1px solid;
  height: 25px;
  border-color: #d9d9d9;
}

.header {
  width: 100%;
  justify-content: space-between;
  padding: 30px;
  background-color: white;
  /* on dark mode */
  /* background-color: #1a1a1a;
  color: #ffffff !important; */
  align-items: center;
}
.navbar {
  display: flex;
  width: 80vw;
  margin: 0 auto;
}

.logo {
  width: 10rem;
  font-size: 15rem;
  font-weight: 900;
}

.logo p {
  font-size: 2rem;
  cursor: pointer;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.navbar-content ul {
  display: flex;
  gap: 3em;
}

.navbar-content ul li {
  cursor: pointer;
}

.navbar-content ul li:hover {
  color: #db4444;
}

.navbar-content i {
  cursor: pointer;
}

.tools {
  position: relative;
}

.tools i:hover {
  color: #db4444;
}

.navbar-content .tools input {
  background-color: #f5f5f5;
  border-radius: 3px;
  border-color: transparent;
  padding: 5px;
  padding-left: 9px;
  padding-right: 43px;
  font-size: 0.7rem;
  outline: none;
}

.last-icon {
  position: absolute;
  top: 7px;
  right: 100px;
  font-size: 15px;
}

/* footer */
.footer {
  height: 300px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  line-height: 2.4;
}

.footer h3 {
  font-size: 30px;
  cursor: pointer;
}

.footer p {
  font-size: 15px;
  cursor: pointer;
}



/* color-mode  */
.dark-mode{
   background-color: #1a1a1a !important;
   color: #ffffff !important;
}

/* advertisment display */
.advertisment-darkmode{
  display: none !important;
}